<div class="clear"></div>
		</div>
	
	</div>
	<div class="clear" style="height:20px"></div>
	
	<div class="content">
		<div class="top-border footer">
			<div class="footer-right">
				<p>Developed by Chris 'FireSlash' Kadar</p>
				<p>Site design by Ryan Hamilton</p>
				<p>Maintained by <a href="http://xpaw.ru/">xPaw</a></p>
			</div>
			<div class="footer-left">
				<p>Valve, Steam, and Team Fortress are trademarks and/or registered trademarks of <a href="http://valvesoftware.com">Valve Corporation</a></p>
				<p>TF2Stats.net is an independent project not endorsed by Valve. This site is <a href="http://steampowered.com/">powered by Steam</a></p>
				<p>Follow us on <a href="http://twitter.com/tf2stats">Twitter</a>, contact and/or report bugs via <a href="mailto:fireslash@fireslash.net">email</a></p>
			</div>
		</div>
	</div>
	<div class="clear" style="height:20px"></div>
	
	<div id="footerdeco"><div>&nbsp;</div></div>
	
	<script type="text/javascript">
		var _gaq=[['_setAccount','UA-10944725-3'],['_trackPageview']];(function(d,t){
		var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))
	</script>
</body>
</html>