			<div class="panel round5" style="width: 885px;"> 
				<h1>Item Stats</h1>
				<hr />
				<p>TF2Stats collects information on almost all TF2 Items.</p>
				<br />
				
				<div class="itemlistbox"> 
					<div class="arealink">
						<a href="/weapons/" class="main"></a>
						<h1>Weapon Stats</h1>
						<br />
						<img src="/static/images/items/sized/xy128/w_rocketlauncher.png" width="128" height="128" alt="Weapon stats" />
					</div>
					<div class="arealink">
						<a href="/hats/" class="main"></a>
						<h1>Hat Stats</h1>
						<br />
						<img src="/static/images/items/sized/xy128/hat_first_nr.png" width="128" height="128" alt="Hat stats" />
					</div>
					<div class="arealink">
						<a href="/misc_items/" class="main"></a>
						<h1>Cosmetic/Misc Stats</h1>
						<br />
						<img src="/static/images/items/sized/xy128/medal.png" width="128" height="128" alt="Cosmetic/Misc stats" />			
					</div>
					
					<div class="clear"></div>
					
					
					
					<div class="arealink" style="margin-left: 125px">
						<a href="/paints/" class="main"></a>
						<h1>Paint Stats</h1>
						<br />
						<img src="/static/images/items/sized/xy128/teampaint.png" width="128" height="128" alt="Paint stats" />			
					</div>		
					<div class="arealink">
						<a href="/effects/" class="main"></a>
						<h1>Effect Stats</h1>
						<br />
						<img src="/static/images/effects/sized/xy128/8.png" width="128" height="128" alt="Effect stats" />			
					</div>	
				</div>
			</div>