			<div class="panel round5" style="width: 885px;"> 
				<h1>TITS!</h1>
				<hr />
				<p><strong>WARNING:</strong> The following content is not safe for work. By clicking below you agree that you
				are 18 or older, and are legally allowed to view pornographic content. </p>
				<br />
				<div style="text-align: center;"><a href="#" onclick="$('#tits').show(); return false;"><b>I agree</b></a></div>
				<br /><br />
				<div id="tits" style="display: none; text-align: center;">
					<img src="/static/images/junk/tits.jpg" />
					<img src="/static/images/junk/tit-bird.jpg" />
					<img src="/static/images/junk/bluetit.jpg" />
				</div>
				
				<p><i>All visual depictions displayed on this Web site, whether of actual sexually explicit conduct, simulated sexual content or otherwise, are visual depictions of persons who were at least 18 years of age when those visual depictions were created.

				All other visual depictions displayed on this Web site are exempt from 18 U.S.C. Section 2257 and 28 C.F.R. Part 75 because said visual depictions are not visual depictions of conduct specifically listed in 18 U.S.C Section 2256 (2) (A)-(D), but are merely depictions of non-sexually explicit nudity, or are depictions of simulated sexual conduct, or are otherwise exempt because the visual depictions were created prior to November 1, 1990, or were produced, manufactured, published, duplicated, reproduced, or reissued before May 26, 1992.
				
				The owners and operators of this Website are not the primary producer (as that term is defined in 18 U.S.C. Section 2257 and 28 C.F.R. Part 75) of all the visual content contained on the Web site. </i>
								</p>
			</div>
