
				<div class="panel round5" style="width: 885px;">
				<div class="right">
					
					<form action="./">
						<label for="sort">Sort by:</label>
						<select name="sort" onchange="$(this).closest('form').submit();">
							<option value="owned" {$weapons.sort.owned}>% owned</option>
							<option value="equipped" {$weapons.sort.equipped}>% equipped</option>
							<option value="own_equip" {$weapons.sort.own_equip}>% owners equip</option>
						</select>
					</form> 
				</div>
				<h1>Weapon statistics</h1>
				<hr />
				<div class="right">
					<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style ">
					<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
					<a class="addthis_button_tweet"></a>
					<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
					</div>
					<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e849e197372b152"></script>
					<!-- AddThis Button END -->
				</div>
				<p>Weapon use and ownership statistics. Click on a weapon's icon for additional information.</p>
				<div class="clear"></div>
				<div class="items">

					{foreach $weapons.weapons item=slots key=class}
					<div style="background:url(/static/images/renderss/{$class}.png) no-repeat center top;">
					<!-- <div class="hsheader">
						<div>{$class}</div>
					</div> -->
					<div class="clear"></div>
					<div class="sci s_full">
						<div class="sci_{$class|strtolower}_red">
							<h1>{$class}</h1>
						</div>
						
					</div>
					<hr class="clear"/>
					
					{foreach $slots item=weaps key=slot}
					<div class="ws_col">
						{loop $weaps}
						{if $hide == false}
						{$barwidth = 180}
						<div>
							<div class="item tooltip round5">
								<a href="/item/{$name_url}/{$defindex}/">
									<img src="/static/images/items/sized/xy78/{$image}" width="78" height="78" alt="{$name}" title="{$tooltip|htmlspecialchars}"/>
									<span class="itemname">{$name}</span>
								</a>
							</div>
							<div class="weaponstatscol"> 
								<!-- Equipped stats -->
									<div class="hbars round5">
										<div>
											<div class="barh20 round3" style="width: {$equipped*$barwidth}px;"></div>
											<span>{$equipped*100|round:2}% equip</span>
										</div>
										<div>
											<div class="barh20 round3" style="width: {$owned*$barwidth}px;"></div>
											<span>{$owned*100|round:2}% own</span>
										</div>
										<div>
											<div class="barh20 round3" style="width: {$owned_equipped*$barwidth}px;"></div>
											<span>{$owned_equipped*100|round:2}% owners equip</span>
										</div>
										
									</div>
							</div>
	
						</div>
						
						{/if}
						{/loop}
					</div>
					
					{/foreach}
					</div>
					<div class="clear"></div>
					{/foreach}
					<div class="clear"></div>
					
					<p class="panelnote">Item stats sampled from {$weapons.profiles} profiles on {date_format $weapons.time "%m-%d-%y at %l:%M%P"}. While
					this data sample does not cover the entire tf2 community, its random collection nature and large pool
					should make it more or less representitive of the community as a whole.</p>
					
					</div>
				</div>